---
import Card from "./Card.astro";
---

<section
  id="projects"
  class="bg-background border-y-accent flex flex-col pt-20 pb-10 border-b-2"
>
  <div>
    <h2
      class="font-heading text-text border-y-accent2 inline-block mb-5 text-3xl border-b-2"
    >
      Projects
    </h2>
  </div>

  <div class="md:flex-row flex flex-col flex-wrap items-center w-full mb-10">
    <Card />
  </div>
</section>
