---
import Button from "@components/ui/Button.astro";
---

<section
  class="bg-background border-y-accent flex pt-48 mx-auto border-b-2"
>
  <div class="flex flex-col mb-10">
    <div class="flex-col text-left">
      <h1 class="font-heading text-text mb-10 text-5xl">
        Hi, I'm <span class="text-accent2">Sarah</span>
      </h1>
      <p class="font-heading text-secondtext mb-10 text-lg uppercase">
        Your next web developer
      </p>
      <p class="font-body text-md text-secondtext mb-10">
        I build websites and web applications for clients.
      </p>
    </div>
    <div class="mb-10">
      <Button
        href="#projects"
        target="_self"
        style={"primary"}
        size={"sm"}
        class={"flex"}
        name="projects"
      >
        Projects
      </Button>
    </div>
  </div>
</section> 
