---
import About from "@components/layout/About.astro"
import Hero from "@components/layout/Hero.astro";
import Projects from "@components/project/Projects.astro";
import BackToTop from "@components/ui/BackToTop.astro";
import Contact from "@components/layout/Contact.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <main>
    <Hero />
    <About />
    <Projects />
    <Contact />
    <BackToTop />
  </main>
</Layout>
