---
import { Icon } from "astro-icon";
---

<section
  id="about"
  class="bg-background border-y-accent flex flex-col pt-20 pb-20 border-b-2"
>
  <div class="flex flex-col mb-5">
    <h2 class="font-heading text-text text-3xl">About me</h2>
  </div>
  <div class="mb-10">
    <p
      class="font-heading text-text border-y-accent2 inline-block text-sm uppercase border-b-2"
    >
      I like to build things that solve problems.
    </p>
  </div>
  <div class="md:flex-row flex flex-col justify-between">
    <div class="align-center md:w-1/2 md:px-1 flex w-full pb-5">
      <Icon
        name="ion:diamond-outline"
        width="50"
        height="50"
        class="text-accent2"
      />
      <div class="text-text flex-col w-full pl-5">
        <h3 class="text-text font-heading w-full mb-2 text-lg">
          I love to work on new projects.
        </h3>
        <p class="text-secondtext font-body text-sm">
          I am currently developing an application that helps growers create and
          manage their yearly crop plan and financial budget.
        </p>
      </div>
    </div>
    <div class="align-center md:w-1/2 md:px-1 flex w-full">
      <Icon name="entypo:rocket" width="50" height="50" class="text-accent2" />
      <div
        class="align-center text-text flex-col w-full pl-5 text-lg text-justify"
      >
        <h3
          class="align-center text-text font-heading flex-col w-full mb-2 text-justify"
        >
          Technologies I've been working with recently:
        </h3>
        <p class="text-secondtext font-body text-sm">
          HTML, CSS, JavaScript, Git || Tailwind, Node.js, Express, Astro.js,
          11ty || MongoDB || Webflow || Canva, Figma
        </p>
      </div>
    </div>
  </div>
</section>
