---
import Card from "../components/ui/Card.astro";
---

<section
  id="projects"
  class="bg-background pt-20 pb-10 flex flex-col border-b-2 border-y-accent"
>
  <div>
    <h2
      class="mb-5 font-heading text-3xl text-text border-b-2 border-y-accent2 inline-block"
    >
      Projects
    </h2>
  </div>

  <div class="mb-10 flex w-full flex-col flex-wrap items-center md:flex-row">
    <Card />
  </div>
</section>
